<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css" integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
    <title>Forum</title>

</head>
<body>
<div class="container">
    <h1>Forum</h1>
    <div class="container">
    <form th:action="@{/search}" method="post" class="d-flex flex-row-reverse form-main">
        <input type="text" id="search" name="searchedPhrase" placeholder="search" class="form-control input-search w-25"/>
    </form>
    </div>
    <table th:each="topic : ${topics}" class="table table-striped w-auto">
        <tr>
            <td class="w-75"><a th:href="@{|/${topic.id}|}" th:text="${topic.title}"></a></td>
            <td th:text="${#temporals.format(topic.getLastMessageDate(), 'dd-MM-yyyy HH:mm')}"></td>
            <td><a th:href="@{|/${topic.id}/edit|}">edit</a></td>
            <td><a th:href="@{|/${topic.id}/delete|}">delete</a></td>

        </tr>
    </table>
    <a th:href="@{/new}">New topic</a><br>
</div>
</body>
</html>