<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css" integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
    <title>New Topic</title>
</head>
<body>
<div class="container p-3">
<h3>New Topic</h3>
<form action="#" th:action="@{|/${topic.id}/edit|}" method="post">
    <label for="title" class="form-label">Title:</label>
        <input type="text" class="form-control" th:value="${topic.title}" name="title" id ="title" /><br/>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
</div>
</body>
</html>